<div class="index-grid">
  <% user.created_events.each do |event| %>
    <div class="event-column">
      <li class="index-grid-list">
        <a href="/events/<%= event.id %>"  class="index-grid-event-title">
          <%= event.name.capitalize %>
        </a>
        <ul class="index-grid-sublist">
          <li>Hosted in <%= event.location %> <%= event.event_date.strftime("on %m-%d-%Y, at %H:%M") %></li>
        </ul>
      </li>
    </div>
  <% end %>
</div>