header {

  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black);
  }
  li a {
    display: block;
    color: var(--grey);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: -1px -1px 0 var(--indigo), 1px -1px 0 var(--indigo), -1px 1px 0 var(--indigo), 1px 1px 0 var(--indigo);
  }
  li a:hover {
    background-color: var(--pink);
    color: var(--black);
    text-shadow: none;
  }
}