// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type=submit]{
  background-color: var(--pink);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: var(--grey);
  cursor: pointer;
}