<div class="teleprompter">
  <h1>Make it happen!</h1> 
  <p class="thin">MakeItHappen.com is fictional website and is not affiliated with any companies, brands, or websites with this name. </p>
<!-- Remember to close the div and add a p subtitle tag in the main body of each page-->